//
// theme.scss
//
// Custom variables followed by theme variables followed by Bootstrap variables
// to ensure cascade of styles.
//

// Bootstrap functions
@import '../../../node_modules/bootstrap/scss/functions';

// Theme functions
@import 'theme/functions';

// Custom variables
@import 'user-variables';

// Theme variables
@import 'theme/variables';

// Bootstrap core
@import '../../../node_modules/bootstrap/scss/bootstrap';

// Theme core
@import 'theme/theme';

// Custom core
@import 'user';

html, body{
    overflow-x: hidden;
}

.footer-pad {
    padding-top: 12px;
}

.bg-darker {
    background-color: $gray-900 !important;
}

.container-pad{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}

.icon_color {
    color: rgba(4, 67, 67, 0.767);
}
.black_text{
    color: black;
}
.center_icon {
    text-align: center;
}

.icon-col {
    margin-top: 10px;
    margin-bottom: 10px;
}
