<footer class="bg-darker">

  <!-- Triangles -->
  <!-- <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div> -->
  <!--Content -->


  <!-- Brand -->
  <!-- <div class="col-6 col-md-1">
    

      </div> -->
  <!-- Social links -->
  <div class="theme-footer d-flex justify-content-between align-items-center">
    <div class="theme-logo d-flex flex-wrap justify-content-between p-2">
      <div class="p-2">

        <p class="text-md-left">
          <a href="#" class="footer-brand text-white">
            <svg class="footer-brand-svg" viewBox="0 0 245 80" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M0 0 L 20 10 L 0 20 Z" class="text-primary" fill="currentColor"></path>
              <path d="M0 30 L 20 40 L 0 50 Z M20 45 L 0 55 L 20 65 Z M0 60 L 20 70 L 0 80 Z" fill="currentColor">
              </path>
              <text x="40" y="70" font-family="Arial, sans-serif" font-size="60" font-weight="bold"
                letter-spacing="-.025em" fill="currentColor">picardy</text>
            </svg>
          </a>
        </p>
      </div>
      <div class="pl-2">
        <div class="theme-icons d-inline-flex p-1">
          <a href="https://www.github.com/Sisyphus34">
            <i class="fab fa-github-alt fa-2x p-2"></i>
          </a>
          <a href="https://www.linkedin.com/in/shawn-picardy">
            <i class="fab fa-linkedin fa-2x p-2"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="copywrite text-white text-muted text-right pr-3">
      <small>
        &copy; Copyright: <span class="current-year"></span> Shawn Picardy. All rights reserved.
      </small>
    </div>

  </div>


  <!-- <div class="col-6 col-md-3">
        <ul class="list-inline justify-content-center text-md-left text-right">
          <li class="list-inline-item">
            <a href="https://www.github.com/Sisyphus34">
              <i class="fab fa-github-alt fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item ml-3">
            <a href="https://www.linkedin.com/in/shawn-picardy">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
          </li>
        </ul>
      </div> -->

  <!-- Copyright -->
  <!-- <div class="col-12 col-md-8 text-white text-muted text-center text-md-right">

      </div> -->





</footer>